<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS CUSTOM -->
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="topnav">
            <h1>
                <img alt="profile-image" src="D:\\git repository\\thenikhilsharma_python\\Django\\TechNickk\\static\\css\\profile.jpg">
                TechNickk
            </h1>
        </div>
        <div class="topnav" id="topnav">
            <a class="active" href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
            <a href="/analyse"><i class="fa fa-fw fa-explore"></i>Explore</a>
            <a href="#groups"><i class="fa fa-fw fa-groups"></i>Groups</a>
            <a href="#profile"><i class="fa fa-fw fa-profile"></i>Profile</a>
            <a href="#signout"><i class="fa fa-fw fa-signout"></i>Sign OUT</a>
            <input type="text" method ='get' placeholder="Search..">
            <button>></button>
        </div>
    </header>
    
    <main class="mainnav">
        <h1>HI</h1>
        <div id="mySidenav" class="sidenav">
            <a href="#" id="about">About</a>
            <a href="#" id="blog">Blog</a>
            <a href="#" id="projects">Projects</a>
            <a href="#" id="contact">Contact</a>
        </div>
    </main>


    <br>


    <footer class="bottomnav">
        Foot
    </footer>

</body>
</html>